{
    "env": {
        "browser": false,
        "commonjs": true,
        "es6": true,
        "es2020": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "legacyDecorators": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ]
  }